# Project exclude paths
/custom/myextension/.externalToolBuilders/
/custom/myextension/eclipsebin/
/modules/backoffice-framework/backoffice/.settings/
/modules/backoffice-framework/backoffice/web/testclasses/
/modules/backoffice-framework/platformbackoffice/.settings/
/modules/platform/auditreportservices/.settings/
/platform/.externalToolBuilders/
/platform/.settings/
/platform/bootstrap/modelclasses/
/platform/eclipsebin/
/platform/ext/advancedsavedquery/.settings/
/platform/ext/advancedsavedquery/eclipsebin/
/platform/ext/catalog/.settings/
/platform/ext/catalog/eclipsebin/
/platform/ext/comments/.settings/
/platform/ext/comments/eclipsebin/
/platform/ext/commons/.settings/
/platform/ext/commons/eclipsebin/
/platform/ext/core/.settings/
/platform/ext/core/eclipsebin/
/platform/ext/deliveryzone/.settings/
/platform/ext/deliveryzone/eclipsebin/
/platform/ext/europe1/.settings/
/platform/ext/europe1/eclipsebin/
/platform/ext/hac/.settings/
/platform/ext/hac/eclipsebin/
/platform/ext/hac/web/testclasses/
/platform/ext/impex/.settings/
/platform/ext/impex/eclipsebin/
/platform/ext/maintenanceweb/.settings/
/platform/ext/maintenanceweb/eclipsebin/
/platform/ext/mediaweb/.settings/
/platform/ext/mediaweb/eclipsebin/
/platform/ext/oauth2/.settings/
/platform/ext/oauth2/eclipsebin/
/platform/ext/paymentstandard/.settings/
/platform/ext/paymentstandard/eclipsebin/
/platform/ext/platformservices/.settings/
/platform/ext/platformservices/eclipsebin/
/platform/ext/processing/eclipsebin/
/platform/ext/scripting/.settings/
/platform/ext/scripting/eclipsebin/
/platform/ext/testweb/.settings/
/platform/ext/testweb/eclipsebin/
/platform/ext/testweb/web/testclasses/
/platform/ext/validation/.settings/
/platform/ext/validation/eclipsebin/
/platform/ext/workflow/.settings/
/platform/ext/workflow/eclipsebin/
/platform/tomcat/

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
# OS or Editor folders
.DS_Store
Thumbs.db

gensrc
*/extensioninfo.xsd
*/resources/beans.xsd
*/resources/items.xsd
*/resources/generated-*.xml
*/resources/*/*-testclasses.xml
*/resources/*/*-webtestclasses.xml
*/hmc/bin/*hmc.jar
*/hmc/resources/hmc.xsd
*/reports
*/target
*/web/webroot/cockpit
*/web/webroot/cscockpit
*/web/webroot/cmscockpit
*/web/webroot/productcockpit
*/web/webroot/WEB-INF/classes/
*/classes/
*/backoffice/classes/
*/resources/backoffice/*.jar


.cache
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.sonar/*
.sonar
*.class
target/svn/
.CVS
.sonar/*
.sonar
node_modules
dist

# exclude IntelliJ Idea project files
.idea
*.iml
*.ipr
*.iws
*.ids
*.eml

# exclude Eclipse project files
.settings
.recommenders
*/eclipsebin
*/eclipse

.ruleset
ruleset.xml
rebel.xml
.metadata
RemoteSystemsTempFiles/
.lastupdate
platformhome.properties
