# -----------------------------------------------------------------------
# Copyright (c) 2019 SAP SE or an SAP affiliate company. All rights reserved.
# -----------------------------------------------------------------------
# you can put key/value pairs here.
# Use Config.getParameter(..) to retrieve the values during runtime.

mytrainingaddon.key=value

# Specifies the location of the spring context file added automatically to the global platform application context.
mytrainingaddon.application-context=mytrainingaddon-spring.xml

yacceleratorstorefront.additionalWebSpringConfigs.mytrainingaddon=classpath:/mytrainingaddon/web/spring/mytrainingaddon-web-spring.xml



mytrainingaddon.javascript.paths.responsive=/responsive/common/js/mytrainingaddon.js
mytrainingaddon.css.paths.responsive=/responsive/common/css/mytrainingaddon.css
